# Dependencies
node_modules/
web/node_modules/
web/package-lock.json

# Build outputs
dist/
out/
web/dist/

# VS Code extension package
*.vsix

# Agent files
.claude
.cursor

# OS files
.DS_Store
Thumbs.db

# Env files
__pycache__
.venv
venv

# DJ extenstion
.dj

# DBT
target/
dbt_packages/
logs/
*/**/.user.yml
.eslintcache
